:root{
    --color-amarillo:yellow;
    --color-naranja:orange;
    --color-verde:darkgreen;
    --color-azul:blue;
    --color-marron:#8d4925;
}
*{
    padding: 1px;
    margin: 0px;
    box-sizing: border-box; /*Re calcula la dimesion para ajustarse a la plantalla*/
}
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    border: 0.3rem solid black;
    align-items: center;
    justify-content: center;
    width: 98vw;
}
.titulo{
    width:100%;
    border: 0.3rem solid black;
    font-size: 2.4rem;
    text-align: center;
}
header .titulo{
    background-color:rgb(218, 19, 19);
}
header{
    min-height: 20vh;
    width: 100vw;

}
picture{
    height: 100%;
    width:100%;
    border: 0.3rem solid black;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
img{
    
    max-height: 110px;
    margin: auto;
    
}
main .titulo{
    background-color:darkgray;
}
p{
    font-size: 1.6rem;
    font-family: sans-serif;
}
.grupo{
    width:300px;
    font-size: 1.8rem;
    text-align: center;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    border: 5px solid;
    list-style: none;
    border-radius: 1rem;
}


.c1, .c2, .c3, .c4, .c5{
    max-width:320px;
    min-width: 150px;
    height: auto;
    font-size: 1.8rem;
    text-align: center;

    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 1.5rem;
    border: 5px solid;
    list-style: none;
    border-radius: 1rem;
}
.c1{
    border-color: var(--color-amarillo);

}
.c2{
    border-color: var(--color-naranja);

}
.c3{
    border-color: var(--color-verde);

}
.c4{
    border-color: var(--color-azul);

}
.c5{
    border-color: var(--color-marron);

}
#amarillo{
    background-color:var(--color-amarillo);
    border-color:var(--color-amarillo);
}
#naranja{
    background-color:var(--color-naranja);
    border-color:var(--color-naranja);
}
#verde{
    background-color: var(--color-verde);
    border-color: var(--color-verde);
}
#azul{
    background-color: var(--color-azul);
    border-color: var(--color-azul);
}
#marron{
    background-color: var(--color-marron);
    border-color: var(--color-marron);
}

footer{
    height: 10rem;
    display: inline-block;
}
h5{
    font-size: 1.6rem;
    margin: 1rem;
    font-weight: bolder;
    display: inline-block;
}